<!doctype html>
<html>
  <head>
    <title>About <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=siteData.siteName%></h1>
    <p>Here at <%=siteData.siteName%>, we look to allow users to share their delicious healthy meals and discover new recipes! Whether you're a beginner in the kitchen, or a seasoned home chef, <%=siteData.siteName%> is here to help you in your cooking journey. Let's cook, share and eat better together! </p>
  </body>
</html>