<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteData.siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteData.siteName%></h1>
    <p><a href="about">About <%=siteData.siteName%></a></p>
    <p><a href="meals/list">View All Meals</a></p>
    <p><a href="meals/search">Find a Meal</a></p>
    <p><a href="meals/addmeal">Add a New Meal</a></p>
    <p><a href="users/register">Register</a></p>
  </body>
</html>